body {
    font-family: "Open Sans";
    font-weight : 400;
    color : $grey-dark-2;
}


h1{
    font-weight: 300;
    font-size : 3rem;
    letter-spacing: 1px;
    display : inline-block;
}

h2 {
    font-size: 2.4rem;
    font-weight: 300;
}

